<div class="col-xs-2">
  <span class="dropdown" is-open="dropdownOpen">
    <div class="input-group dropdown-toggle">
      <input type="datetime" datetime-converter class="form-control" data-ng-model="task.start_date" required>
      <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
    </div>
    <ul class="dropdown-menu">
      <datetimepicker datetime-converter data-ng-model="task.start_date" on-set-time="closeDropdown()"/>
    </ul> 
  </span>
</div>
<div class="col-xs-2">
  <span class="dropdown" is-open="dropdownOpen">
    <div class="input-group dropdown-toggle">
      <input type="datetime" datetime-converter class="form-control" data-ng-model="task.end_date" required>
      <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
    </div>
     <ul class="dropdown-menu">
      <datetimepicker datetime-converter data-ng-model="task.end_date" on-set-time="closeDropdown()"/>
    </ul>  
  </span>
</div>
 
<div class="col-xs-2">
  <input class="form-control" type="text" ng-model="task.task_name" required>
</div>

<div class="col-xs-2">
    <input class="form-control" type="checkbox" ng-model="task.status" value="">  <br>
</div>
<div class="col-xs-2">
  <select ng-model="task.priority" required="required">
    <option value="0">None</option>  
    <option value="1">Low</option>
    <option value="2">Medium</option>
    <option value="3">High</option>
  </select>
</div>
